@model IEnumerable<WalkIn>
<h2>WalkIns List</h2>
<a class="btn btn-primary" asp-action="Create"> <i class="bi bi-plus-circle me-1"></i>Sign Up WalkIn</a>
<table class="table table-bordered text-center">
	<thead class="thead-light">
		<tr>
			<th>ID</th>
			<th>Complete Name</th>
			<th>Contact</th>
			<th>Gender</th>
			<th>Plan Id</th>
			<th>Join Date</th>
			<th>Expiry Date</th>
			<th>Is Member</th>

			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var WalkIn in Model)
		{
			<tr>
				<td>@WalkIn.CustomerId</td>
				<td>@WalkIn.CompleteName()</td>
				<td>@WalkIn.ContactNumber</td>
				<td>@WalkIn.Gender</td>
				<td>@WalkIn.PlanId</td>
				<td>@WalkIn.JoinDate</td>
				<td>@WalkIn.ExpiryDate </td>
				<td>@WalkIn.isMember</td>


				<td class="text-center">
					<div class="d-flex justify-content-center align-items-center gap-2">
						<a asp-controller="WalkIn" asp-action="Edit" asp-route-id="@WalkIn.CustomerId" class="btn btn-primary">
							Edit
						</a>
						<form asp-controller="WalkIn" asp-action="Delete" asp-route-id="@WalkIn.CustomerId" method="post"
						onsubmit="return confirm ('Are you sure you want to delete?');">
						<button type="submit" class="btn btn-danger">Delete</button>
							
						</form>
						
					</div>
				</td>
			</tr>

		}
		
	</tbody>
</table>